rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function signedIn() {
      return request.auth != null && request.auth.token.email != null;
    }

    function isAllowed() {
      return signedIn()
        && firestore.exists(/databases/(default)/documents/whitelist/$(request.auth.token.email));
    }

    match /images/{allPaths=**} {
      allow read: if true;
      allow write: if isAllowed(); // covers create/update/delete
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
