.navbar {
  background: #fff;
  width: 100%;
}

.navbar-inner {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar-logo {
  height: 4rem;
  width: auto; 
}

.navbar-links button {
  background: transparent;
  border: none;          /* removes the gray border */
  outline: none;         /* removes default outline */
  box-shadow: none;      /* removes any shadow/focus ring some browsers add */
  padding: 1rem 1rem;
  font-family: inherit; 
  font-weight: 500;
  font-size: 1.2rem;
  background: none;
  color: black;
  cursor: pointer;
}

hr {
  height: 1.5px; 
  background-color: #DEDEDE;
  border: none; 
  width: 80%;
  margin: 1px;
  margin-left: auto;
  margin-right: auto;
}
