#root {
  min-height: 100vh;
}

body {
  font-family: "Faustina", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 20px;
  max-width: 80%; /* Sets the maximum width to 80% */
  margin-left: auto; /* Centers the content */
  margin-right: auto; /* Centers the content */
}
